# Editor
.vscode

# compile command
compile_commands.json

# built files
*.o
*.elf
*.hex
*.d

# log files
*.log

# doxygen output
doxygen

# libopencm3 compile command
hal_common/libopencm3/compile_commands.json